* {
    margin: 0;
    padding: 0;
}

.presentation {
    display: flex;
    align-items: center;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000; 
    color: #F6F6F6;   
}

.title-highlight {
    color: #22D4FD;
}