@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #222831;
    --secondary-color: #f7f7f7;
    --tertiary-color: #00ADB5;
    --hover: #393E46;

    --title-font: 'Krona One', sans-serif;
    --text-font: 'Montserrat', sans-serif;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--primary-color); 
    color: var(--secondary-color);
}

.menu {
    padding: 3% 0% 0% 15%;
}

.manu__navigation {
    display: flex;
    gap: 80px;
}

.menu__navigation__link {
    font-family: var(--text-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--tertiary-color);
}

.presentation {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__title {
    font-size: 36px;
    font-family: var(--title-font);
}

.title-highlight {
    color: var(--tertiary-color);
}

.presentation__text {
    font-size: 24px;
    font-family: var(--text-font);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;
    gap: 32px;
}

.presentation__subtitle {
    font-size: 24x;
    font-weight: 400;
    font-family: var(--title-font);
}

.presentation__button {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 378px;
    border: 2px solid var(--tertiary-color);
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    padding: 21.5px 0;
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-weight: 600;
}

.presentation__button:hover {
    background-color: var(--hover);
}

.rights {
    padding: 18px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    text-align: center;
    font-family: var(--text-font);
    font-size: 24px;
}